.title{
   display: grid;
   grid-template-rows: 0.3fr 1fr 0.1fr;
   min-height: 100vh;
   place-items: center;
   width: min(100%, 450px);
   padding: 20px , 10px;
   margin: 0 auto;
   font-family: 'DS-Digital', sans-serif;
                                                
}

h1{
   font-size: 4vh;
}

.text{
   margin: 10px;
   padding: 10px;
   border: 10px transparent ;
   border-radius: 40px;
   font-family: 'DS-Digital', sans-serif;
   font-size: xx-large;
   background-color: rgba(154, 183, 208, 0.5);
   text-align:center
 }
 


h1, p, footer{
  color: azure;
  margin: 50px;
}

footer{

   background-color: rgba(154, 183, 208, 0.5);
	border: 1px solid  gray;
	margin: 0%;
	max-height: 140px;
	border-top-left-radius: 50% 100%;
	border-top-right-radius: 50% 100%;
	max-width: 380px;
}

h4{
   padding-top: 10vh;
   padding-left: 1vh;
   text-align: center;
}