@import url('https://fonts.cdnfonts.com/css/ds-digital');

                

body, h1, h2, h3, h4, h4, h6{
  margin: 0;
}

html{
  box-sizing: border-box;
  
}

*, *::after, *::before{
box-sizing: inherit;
}


.FondsPosition{
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}


.btn{
  border-radius: 100px;
  border: 2px  solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  background-color: rgba(31, 97, 141, 0.7);
  cursor: pointer;
  transition: border-color 0.25s;
  left: 15vh;
  margin-left: 160px;
  
}

