.space1{
  background-image: url("/public/space/space1.jpg");
}

.space2{
  background-image: url("/public/space/space2.jpg");
}

.space3{
  background-image: url("/public/space/space3.jpg");
}

.space4{
  background-image: url("/public/space/space4.jpg");
}